{% if section.settings.video_url != blank %}
{% if section.settings.video_url.type == "youtube" %}
<iframe
  class="iframe"
  src="https://www.youtube.com/embed/{{ section.settings.video_url.id | escape }}"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
{% elsif section.settings.video_url.type == "vimeo" %}
  <div class="iframe-vimeo-video-wrapper">
    <iframe 
      class="iframe"
      src="https://player.vimeo.com/video/{{ section.settings.video_url.id | escape }}" 
      allow="autoplay; fullscreen; picture-in-picture" 
      allowfullscreen
    ></iframe>
  </div>
{% endif %}
{% endif %}

{% comment %}
<!-- <iframe
class="iframe"
src="https://www.youtube.com/embed/{{ section.settings.video_url.id | escape }}"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen
>
</iframe> -->
{% endcomment %}

{% schema %}
{
	"name": "Video",
	"settings": [
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"]
    }
	],
	"presets": [
    {
		  "category": "EFLD - New",
		  "name": "Video",
      "settings": {
        "video_url": ""
      }
	  }
  ]
}
{% endschema %}
